<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>121116557971-lhclt1br39rqnrn13v7rtbge2fm4tfhu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121116557971-lhclt1br39rqnrn13v7rtbge2fm4tfhu</string>
	<key>API_KEY</key>
	<string>AIzaSyBK7s4BM8SRrnkm_sORoUqDx3CDt5uH4Uc</string>
	<key>GCM_SENDER_ID</key>
	<string>121116557971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Quizz</string>
	<key>PROJECT_ID</key>
	<string>quizz-ce4f8</string>
	<key>STORAGE_BUCKET</key>
	<string>quizz-ce4f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121116557971:ios:838b6f617f0782e5198366</string>
</dict>
</plist>